body
{
    margin: 0px;
    padding: 0px;
}
header {
    margin-left: 120px;
}
.title
{
    height: 108px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.title > h1 {
    position: absolute;
    font-size: 42pt;
    bottom: 0px;
    left: 0px;
}
.subtitle
{
    height: 55px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.subtitle > h2 {
    position: absolute;
    font-size: 20pt;
    bottom: 0px;
    left: 0px;
}
.backbutton {
    position: absolute;
    top: 60px;
    height: 40px;
    left: 40px;
}

.snapped {
    text-align: center;
}

.content
{
    padding-left: 120px;
}

.snapped {
    margin-top: 33%;   
}

.tile {
    height: 128px;
    width: 128px;
    margin: 10px 10px 10px 0px;
    vertical-align: bottom;
    float:left;
    position: relative;
    border: 1px solid transparent;
}

.tile:active {
    border: 1px solid #ffffff;
}

.tile>span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

#fullscreen {
    padding: 25px;
}

#language {
    background-image: url("/images/tiles/language.png");
}

#data {
    background-image: url("/images/tiles/data.png");
}

#toast {
    background-image: url("/images/tiles/toast.png");
}

@media screen and (-ms-view-state: fullscreen-landscape) {
    .main    { display: block; }
    .snapped { display: none; }
}

@media screen and (-ms-view-state: filled) {
    .main    { display: none; }
    .snapped { display: block; }
}

@media screen and (-ms-view-state: snapped) {
    .main    { display: none; }
    .snapped { display: block; }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .main    { display: block; }
    .snapped { display: none; }
}
