<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="df814348-6cdd-4bf5-a14e-4ed35b9ef10e" Version="1.0.0.0" Publisher="CN=Anders" />
  <Properties>
    <DisplayName>WinJsKnockoutTemplate</DisplayName>
    <PublisherDisplayName>Anders</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="WinJsKnockoutTemplate" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="WinJsKnockoutTemplate" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>